# Kipu Quantum Hub Configuration
# Get your Personal Access Token from: https://hub.kipu-quantum.com/account/tokens
KIPU_HUB_PAT=
KIPU_ORGANIZATION_ID=

# Application & Service Gateway Credentials (crane-demo-app)
KQH_ACCESS_KEY_ID=
KQH_SECRET_ACCESS_KEY=
KIPU_SERVICE_ENDPOINT=https://gateway.hub.kipu-quantum.com/cbcdab29-117c-40d1-8513-39d312143a6b/crane-anomaly-demo/1.0.0

# Datapool IDs for Rimay Crane Anomaly Demo
KIPU_DATAPOOL_ID=
KIPU_OUTPUT_DATAPOOL_ID=

